@yellow: #fffa19;

.margenes (@top: 0px, @buttom: 0px){
  margin-top: @top;
  margin-buttom: @buttom;
}


.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  border-radius: .3rem; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
  }

.card-hotel {
  flex: 1 300px;
  .margenes(10px, 0px);
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

/*
.card-hotel-reverse{
	background-color: red;
}
*/
.reserva-icon {
  padding-right: 10px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 15px; }
