 $yellow: #fffa19;
 $red: #ff1a1a;
 $green: #1aFF1a;

@mixin margenes ($top, $buttom){
	margin-top: $top;
	margin-buttom: $buttom;
}

@mixin padding($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right; 
	padding-bottom: $bottom;
	padding-left: $left;
}

@mixin colores(){
}

 .jumbotron {
	background-color: $yellow;
	color: black;
  	@include margenes (32px, 0px);
  	padding: 4rem 2rem;
  	margin-bottom: 1rem;
  	border-radius: .3rem;  
}

footer{
	/*padding: 10px 10px 0px 10px;*/
	@include padding(10px, 10px, 0px, 10px);
	background-color: $yellow;
	@include margenes (10px, 0px);
}

.card-hotel{
	flex: 1 300px;
	@include margenes (10px, 0px);
}



.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

/*
.card-hotel-reverse{
	background-color: $red;
}
*/

.reserva-icon{
	/*padding-right: 10px;*/
	@include padding(0px, 10px, 0px, 0px);
}

.footer-address-icon{
	/*padding-right: 10px;*/
	@include padding(0px, 10px, 0px, 0px);
}


.tab-content{
	/*padding-top: 15px;*/
	@include padding(15px, 0px, 0px, 0px);
}