.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 32px;
  margin-buttom: 0px;
  padding: 4rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

footer {
  /*padding: 10px 10px 0px 10px;*/
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-buttom: 0px;
}

.card-hotel {
  flex: 1 300px;
  margin-top: 10px;
  margin-buttom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

/*
.card-hotel-reverse{
	background-color: $red;
}
*/
.reserva-icon {
  /*padding-right: 10px;*/
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.footer-address-icon {
  /*padding-right: 10px;*/
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.tab-content {
  /*padding-top: 15px;*/
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/*# sourceMappingURL=style.css.map */
